/*.Modal{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 20px;
    position: relative;
}*/

/*.Modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}*/