.list-Todo__item {
    display: grid;
    place-items: center;
    border: none;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0 6px 24px 6px;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(5px);

  }

.list-Todo__item--completed{
  background-color:  rgba(10,44,68, 0.2);
  border: 2px solid #c3c6ce;
  
 
}

  .list-Todo__item:hover{
    border: 2px solid #c3c6ce;
    animation: item 5s linear infinite;
    background-color: rgba(10,44,68, 0.2);
    backdrop-filter: blur(6px);
    cursor: pointer;
    -webkit-box-shadow: 10px 5px 10px 0 rgba(255, 255, 255, 0.877);
    box-shadow: 10px 5px 10px 0 rgba(255, 255, 255, 0.877);
  }

  @keyframes item {
    0% { background-color: rgba(10,44,68, 0.2); }
    33% { background-color: rgba(125,106,211,0.2) }
    66% { background-color: rgba(216,128,155,0.2); }
    100% { background-color: rgba(17,70,89,0.2); }
  }

  
  /*@keyframes item {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: green; }
    57% { background-color: blue; }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { background-color: red; }
  }*/
  
  .list-Todo__item--text {
    padding: 24px;
    margin: 0;
    color: black;
    font-size: medium;
    font-weight: bold;    
    max-width: 180px;
    max-height: fit-content;
    overflow: auto;
  }

    
  .list-Todo__item--text-container {
    width: 200px; /* Ancho deseado para el contenedor */
    border: 1px solid #ccc;
    overflow: hidden; /* Evita que el contenido desborde */
    transition: height 0.3s ease; 
  }
  
  .list-Todo__item span {
    margin: 0;
  }
  
  .list-Todo__item--text::-webkit-scrollbar{
    width: 7px;
  }
  
  .list-Todo__item--text::-webkit-scrollbar-thumb:hover{
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.4); /* Por ejemplo: gris semitransparente */
    backdrop-filter: blur(100px);
  }