body{
    margin: 0;
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    max-width: 960px;
    width: 200%;
}

.todo-items::-webkit-scrollbar{
  width: 7px;
}

.todo-items::-webkit-scrollbar-thumb:hover{
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.4); /* Por ejemplo: gris semitransparente */
  backdrop-filter: blur(100px);
}
  
  .todo-register{
    flex-basis: 48%;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.2); /* Por ejemplo: gris semitransparente */
    backdrop-filter: blur(100px);
    padding: 40px;
    margin-right: 20px; 
    max-height: 480px;
  }
  .todo-items {
    flex-direction: row-reverse;
    flex-basis: 48%;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.2); /* Por ejemplo: gris semitransparente */
    backdrop-filter: blur(100px);
    padding: 40px;
    margin-left: 20px;
    max-height: 600px;
    overflow: auto;
  }
  
  .todo-register {
    margin-right: 40px;
  }

  @media(max-width: 640px){
    .container{
      display: flex;
      margin: 20px 40px 20px 20px;
      padding: 5px;
      width: 100%;
      flex-direction: column;

    }
    .todo-items{
      margin-right: 40px ;
      margin-top: 40px;
    }
    .todo-register,
    .todo-items{
      backdrop-filter: none;
    }
    .todo-items{
      max-height: 300px;
      overflow: auto;
    }
    body{
      background-size: cover;     
    }
  }