body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation-name: background-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: url(./imagenes/atardecer-en-la-montanas-ilustracion_3840x2160_xtrafondos.com.jpg);
  background-size: cover;
}

#root {
  margin: 0;

}
/*
@keyframes background-animation {
  0% {
    background: linear-gradient(60deg, white, aliceblue);
  }
  25% {
    background: linear-gradient(60deg, aliceblue, azure);
  }
  50% {
    background: linear-gradient(60deg, azure, ghostwhite);
  }
  75% {
    background: linear-gradient(60deg, ghostwhite, white);
  }
  100% {
    background: linear-gradient(60deg, white, aliceblue);
  }
}
*/
